.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    border-radius: 5px;
    background: fade-out($color: white, $amount: 0.25);
    text-align: center;
    width: 25rem;
    padding: $l-size $s-size;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}