.button {
    background-color: #1c88bf;
    color: white;
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 0.5rem $m-size;
    font-weight: 300;
    text-decoration: none;
    line-height: 1;
}

.button__link {
    background: none;
}

.button__secondary {
    background: #888888;
}