.header {
    background: #364051;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size $l-size;
}