.text-input {
    border: 1px solid #cacccd;
    height: 47px;
    font-size: 1.8rem;
}

.select {
    @extend .text-input;
    padding: 0.2rem;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}