.list-header {
    background: #f7f7f7;
    border: 1px solid darken($color: #f7f7f7, $amount: 7%);
    color:#666;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-item {
    border: 1px solid darken($color: #f7f7f7, $amount: 7%);
    border-top: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: $s-size;
    transition: background .3s ease;
    &:hover {
        background: #f7f7f7;
    }

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: grey;
    margin-top: 0.2rem;
    font-size: 0.9rem;
}

.list-item__data {
    margin: $s-size 0 0 0;
    
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    &:hover {
        background: none;
    }
}