.page-header {
    background: #f7f7f7;
    padding: $s-size $l-size;
    margin-bottom: $s-size;
}

.page-header__actions {
    margin-top: $s-size;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}